@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-black;
}

p {
	white-space: pre-line;
}

hr {
	height:2px;
	border:0;
	background-image:url("/static/dotted.png");
	background-repeat:repeat-x;
}

svg {
	display: inline-block;
}

.email-us__overlay {
	@apply fixed inset-0 px-4 pb-4 opacity-0 pointer-events-none;
	@apply transition-opacity duration-200 ease-in;
}

@screen sm {
	.email-us__overlay {
		@apply flex items-center justify-center
	}
}

.email-us__overlay:target {
		@apply opacity-100 pointer-events-auto;
}

/* Email form */

.email-us__close-button {
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 2000;
    display: block;
    width: 40px;
    height: 40px;
}

.email-us__close-button:before {
    content: "";
    position: absolute;
    top: 20px;
    right: 4px;
    display: block;
    width: 32px;
    height: 1px;
    background: #fff;
    opacity: 0.8;
    transform: rotate(45deg);
}

.email-us__close-button:after {
    content: "";
    position: absolute;
    top: 20px;
    right: 4px;
    display: block;
    width: 32px;
    height: 1px;
    background: #fff;
    opacity: 0.8;
    transform: rotate(-45deg);
}
